.barre{
    margin: auto;
    width: 95%;
    height: 5px;
    background-color: #5A266D;
}

.contenu-div{
    display: flex;
    flex-wrap: wrap;
    padding: 5pc;
}

p{
    width: 50vw
}

.div-img{
    width: 500px;
}